<div class="hidden" id="staff_list">
  <div class="row">
    <div class="col-lg-12 col-sm-12">
      <h1>Staff</h1>
      <%= link_to 'New staff', new_staff_path, class: "btn btn-primary" %>
    </div>
  </div>
  <div class="clearfix"></div>
  <div class="row">
    <div class="col-lg-12 col-sm-12">
      <%= search_form_for @q, url: staffs_path, class: "admin-controls", method: "get" do |f| %>
        <div class="col-lg-3 form-group float-left">
          <%= f.search_field :name_cont, value: @name, placeholder: "Staff name", title: "Staff name" ,:class=>"form-control" %>
        </div>
        <div class="col-lg-3 form-group float-left">
          <%= f.search_field :father_cont, value: @father, placeholder: "Staff's father name", title: "Staff's father name" ,:class=>"form-control" %>
        </div>
        <div class="col-lg-3 form-group float-left">
          <%= f.select :school_branch_id_eq, options_from_collection_for_select(@school_branches, 'id', 'name', @school_branch_id), {:include_blank => "Select Branch"},:class=>"form-control select_chosen" %>
        </div>
        <div class="col-lg-2 form-group float-left">
          <input class="form-control btn btn-primary" name="search_submit" type="submit" value="Search"></input>
        </div>
        <div class="col-lg-3 form-group float-left">
          <input class="form-control btn btn-primary" name="pdf_submit" type="submit" value="PDF" formtarget="_blank"></input>
        </div>
      <% end %>
    </div>
  </div>
  <table data-toggle="table" data-search="true">
    <thead>
      <tr>
        <th><%= sort_link(@q, :id, 'ID') %></th>
        <th><%= sort_link(@q, :name, 'Name') %></th>
        <th><%= sort_link(@q, :father, 'Father') %></th>
        <th>School Branch</th>
        <th><%= sort_link(@q, :date_of_joining, 'Date of joining') %></th>
        <th><%= sort_link(@q, :date_of_leaving, 'Date of leaving') %></th>
        <th><%= sort_link(@q, :yearly_increment, 'Increment') %></th>
        <th><%= sort_link(@q, :monthly_salary, 'Monthly salary') %></th>
        <th><%= sort_link(@q, :advance_amount, 'Advance taken') %></th>
        <th class="border_none"></th>
        <th class="border_none"></th>
        <th class="border_none">Action</th>
        <th class="border_none"></th>
      </tr>
    </thead>

    <tbody>
      <% @staffs.each do |staff| %>
        <tr>
          <td><%= staff.id %></td>
          <td><%= staff.name %></td>
          <td><%= staff.father %></td>
          <td><%= staff.school_branch.name %></td>
          <td><%= staff.date_of_joining %></td>
          <td><%= staff.date_of_leaving %></td>
          <td><%= staff.yearly_increment %></td>
          <td><%= staff.monthly_salary %></td>
          <td><%= staff.advance_amount %></td>
          <% already_paid = staff_paid_this_month_salary?(staff) %>
          <% if already_paid %>
            <td>
              <div class="" style="background-color:chartreuse;margin: -12px;padding: 11px;">
                <%= link_to 'Paid Salary', "javascript:void(0)", title: "Salary already paid for this month", class: "isDisabled" %>
              </div>
            </td>
          <%else%>
            <td><%= link_to 'Paid Salary', new_salary_path(:staff_id=>staff.id) %></td>
          <%end%>
          <td><%= link_to 'Edit', edit_staff_path(staff) %></td>
          <td><%= link_to 'Show', staff %></td>
          <td><%= link_to 'Destroy', staff, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<div class="clearfix"></div>
<div class="row">
  <div class="col-lg-4 col-sm-4">
    <%= page_entries_info @staffs %>
  </div>
  <div class="col-lg-8 col-sm-8 pagination-left">
    <%= paginate @staffs %>
  </div>
</div>

<script>
  $(document).ready(function() {
    if ($(".bootstrap-table").length == 0){
      $("table").bootstrapTable();
    }
    $("#staff_list").removeClass('hidden');
  });
</script>
