<!-- Sidebar -->
<div class="bg-light border-right" id="sidebar-wrapper">
  <div class="sidebar-heading">Features</div>
  <div class="list-group list-group-flush">
    <%= link_to "School Branches", school_branches_path, class: "list-group-item list-group-item-action bg-light" %>
    <%= link_to "Classes", levels_path, class: "list-group-item list-group-item-action bg-light" %>
    <%= link_to "Sections", sections_path, class: "list-group-item list-group-item-action bg-light" %>
    <%= link_to "Teachers", teachers_path, class: "list-group-item list-group-item-action bg-light" %>
    <%= link_to "Staff", staffs_path, class: "list-group-item list-group-item-action bg-light" %>
    <%= link_to "Salaries/Advance", salaries_path, class: "list-group-item list-group-item-action bg-light" %>
    <%= link_to "Students", students_path, class: "list-group-item list-group-item-action bg-light" %>
    <%= link_to "Student Fees", student_fees_path, class: "list-group-item list-group-item-action bg-light" %>
    <%= link_to "Unpaid Fee Students", unpaid_students_path, class: "list-group-item list-group-item-action bg-light" %>
    <%= link_to "Unpaid Fund Students", unpaid_funds_students_unpaid_students_path, class: "list-group-item list-group-item-action bg-light" %>
    <%= link_to "Expenses", expenses_path, class: "list-group-item list-group-item-action bg-light" %>
    <%= link_to "widows", widows_path, class: "list-group-item list-group-item-action bg-light" %>
    <%= link_to "Reports", reports_path, class: "list-group-item list-group-item-action bg-light" %>
    <%= link_to "Charts", reports_chart_path, class: "list-group-item list-group-item-action bg-light" %>
  </div>
</div>
<!-- /#sidebar-wrapper -->
