<% if f.object.persisted? && f.object.fee_type=="Admission Fee"%>
  <table  data-search="true" class="table table-striped">
    <thead>
      <tr>
        <td><%=f.object.paid_date%></td>
        <td><%=f.object.paid_fee%></td>
        <td><%=f.object.balance%></td>
      </tr>
    </thead>
  </table>
<% elsif f.object.persisted? == false %>
<%= f.hidden_field :student_id  %>
<%= f.hidden_field :fee_type, :value=>'Admission Fee' %>
<%= f.number_field :paid_fee, class: "form-control admission_paid_fee", onkeyup: "set_admission_new_balance(); return false;",onchange: "set_admission_new_balance(); return false;"%>
<%= f.text_field :balance, class: "form-control student_fee_admission_balance", readonly: true %>
<%= f.date_select :paid_date, class: "form-control" %>
<% end %>
