<h1 class="fee_due">Educational School System</h1>
<h1 class="fee_due">ESS</h1>
<hr>
<h1 class="fee_due">Fee Due</h1>
<p>
  <span>Student Name:</span>
  <%= student.name %>
</p>

<p>
  <span>Father Name:</span>
  <%= student.father_name %>
</p>

<p>
  <span>Phone No:</span>
  <%= student.phone_no %>
</p>

<p>
  <span>Monthly Fee:</span>
  <%= student.monthly_fee %>
</p>

<p>
  <span>Fee Due:</span>
  <%= fee_due_month %>
</p>
